body.index{
    width: 800px;
}
p.index{
    font-size: medium;
}
img{
    position: static;
}
.button{
   border: solid 2px red;
   text-align: center;
   display: inline-block;
   padding-top: 1em; padding-bottom: 1em;
   padding-left: 2em; padding-right: 2em;
}